<a href="https://colab.research.google.com/github/JATRIVEDI/CourseraSubmissions/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

1.   Python
2.   R
3.   SQL
4.   Java
5.   Julia
6.   Scala
7.   Javascript

# Some of the commonly used libraries used by Data Scientists include:

1.   Scikit-Learn
2.   Numpy
3.   Pandas
4.   MatplotLib
5.   Keras
6.   Tensorflow

| Data Science Tools |
|--------------------|
| Apache Spark       |
| Jupyter Notebook   |
| RStudio            |
| Zeppelin Notebook  |

### Below are a few examples of evaluating arithmetic expressions in Python.

1.  x = 8 <br>
    y = 9 <br>
    z = x+y

2.  a = 2 <br>
    a+=4 <br>

In [ ]:
# Multiply and add numbers
a=3
b=4
c=(a*b)+5 #Simple expression to multiply and then add
print(c)

17

In [ ]:
# Code cell to convert minutes to hours
min_time = 200
#This will convert 200 minutes to hours by diving by 60
hr_time = min_time/60
print(hr_time)

3.3333333333333335

**# Objectives**


*   List Data Science Languages
*   List Data Science Tools
*   List Data Science Libraries
*   Sample Arithmetic Expressions in Python

## Author

Juhi Ameta